:root {
    --primari-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --secondary-text-color-theme-dark: #ffffff;
    --primary-text-color-theme-light: #212121;
    --secondary-text-color-theme-light: #757575;
    --accent-color: #2196F3;
}

body {
    font-family: var(--primary-font-family);
}

.filter {
    list-style: none;
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
}


/*---- Header----*/

.logo {
    color: #000;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
}

.logo-span {
    color: var(--accent-color);
}

.nav-list-link.current {
    color: var(--accent-color);
}

.nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.email,
.contact-number {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
}

.nav-list-link:hover,
.nav-list-link:focus,
.email:hover,
.contact-number:hover,
.email:focus,
.contact-number:focus {
    color: var(--accent-color);
}


/*--section hero*/

.hero {
    background-color: #2F303A;
    padding: 10%;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-dark);
}

.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* identical to box height, or 187% */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color-theme-dark);
    background: var(--accent-color);
    cursor: pointer;
}


/*--section--*/

.title-list-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color-theme-light);
}

.text {
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}


/*--galery--*/

.title-large {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}


/*--subject--*/

.section-subject {
    background-color: #F5F4FA;
}

.list-item {
    font-size: 16px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}

.title {
    font-weight: 500;
}


/*--кнопки навигации--*/

.btn:hover,
.btn:focus {
    background: var(--accent-color);
    color: var(--secondary-text-color-theme-dark);
}

.btn {
    background-color: #F5F4FA;
}

.btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: 0.03em;
    color: var(--primary-text-color-theme-light);
}


/*--<ul class="list">--*/

.title-bold {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
}

.desc {
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 187% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}


/*--footer--*/

.footer {
    background: #2F303A;
}

.aside {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
}

.aside:hover,
.aside:focus {
    color: var(--accent-color);
}

.logo-white {
    color: var(--secondary-text-color-theme-dark);
}

.contact {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}